<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SimplifySettingsTests.Properties.Test" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SimplifySettingsTests.Properties.Test>
            <setting name="IsReloaded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsReset" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasNotSaved" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HasSaved2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HasUpgraded" serializeAs="String">
                <value>False</value>
            </setting>
        </SimplifySettingsTests.Properties.Test>
    </userSettings>
</configuration>